# dependencies
node_modules/

# output
/dist/
/build/
/.next/

# test coverage
/coverage/

# environment variables
.env

# logs
*.log
npm-debug.log*
yarn-debug.log*

# macOS system files
.DS_Store

# TypeScript build info
*.tsbuildinfo

# IDE
.vscode/launch.json

# Sqlite Database
data/
/data
